<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>


  <div class="container">
    <div class="col-xs-12" style="border-bottom:1px solid #111;">
      <div class="row">
        <div class="col-xs-8">
            <h3>{{nameShow}}</h3>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-default" >CFD</button>
      </div>
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-default">Release Rorecast</button> -->
      </div>
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-default">Cycle Time</button> -->
      </div>
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-default">State</button> -->
      </div>
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-default">Recent Activity</button> -->
      </div>
    </div>
  </div>
  <br>
  <div class="container" align="center">
    <div class="w3-panel w3-border" align="center">
      <app-cfd>Loading...</app-cfd>

    </div>
  </div>
  <br><br><br><br>


</body>

</html>
